server:
  port: ${PORT:8084}

spring:
  application:
    name: vision-project
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5432/vision_paas}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
